body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background: linear-gradient(315deg, #a4508b 0%, #5f0a87 74%);
}

.wrapper {
    width: 100vw;
    height: 300vh; /* Adjust based on the number of sections */
    position: relative; /* Ensure wrapper is positioned correctly */
    transition: transform 1s ease-in-out;
}

.section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1s ease-in-out;
}

.content {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.content.visible {
    opacity: 1;
}
